SERVICE_URL=
API_VERSION=
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_DRIVER=
LOG_LEVEL=
authjwt_secret_key=
authjwt_token_location=
authjwt_cookie_secure=
authjwt_cookie_csrf_protect=
DEBUG=
ADMIN_EMAIL=admin@mail.ru
ADMIN_PASSWORD=
CACHE_HOST=
CACHE_PORT=
